@use '../../../style/variables.scss' as *;

mat-card {
  margin-top: 1rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.card_actions {
  display: flex;
  gap: 8px;
}
