:host {
  margin: 3rem 12rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: block;
  padding: 3rem;

  .error-msg {
    color: var(--mat-sys-error);
    text-align: center;
  }

  .leave {
    margin-top: 15px;
  }
}
